body{
  background-color: lightgray;
}


svg{
  display:block;
  float:left;
  clear:left;
  padding-top: 30px;
}
input[type=checkbox]{
  display:none;
}
form{
  display:block;
  float:left;
  clear:left;
}
img{
  padding-left: 10px;
  padding-right: 10px;
  border: solid black 2px;
}
.pictures{
  position:relative;
  left:850px;
  position:fixed;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.pictures text
{
  float:right;
  clear: right;
}

#line1
{
  position: relative;
  left: 65%;
  top: 50%;
  position: fixed;
}

#line2
{
  position: relative;
  left: 65%;
  top: 54%;
  position: fixed;
}

#line3
{
  position: relative;
  left: 65%;
  top: 58%;
  position: fixed;
}

#line4
{
  position: relative;
  left: 65%;
  top: 62%;
  position: fixed;
}

#line5
{
  position: relative;
  left: 65%;
  top: 66%;
  position: fixed;
}
